body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size:100%;
  background-color: #e2cff8;
  color: rgb(44, 20, 53);
  text-align: left;
}

header {
  text-align: center;
  background-color: #431953;
  color: #ECD2B0;
}

footer {
  background-color: rgb(44, 20, 53);
  text-align: center;
}

a {
  color:#5d8aaf
}

.menuitem {
  list-style-type: none;
}
